<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name ="DBConnectionString" connectionString="Data Source =den1.mssql7.gear.host;
                                                      Initial Catalog = pdba3
                                                      User ID =pdba3
                                                      Password=Pb0ybgBb4~8_"/>
  </connectionStrings>
</configuration>